<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bootcamp Huddle</title>
    <!-- Font Awesome -->
    <link href="./css/all.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="./css/mdb.css" rel="stylesheet">
    <!-- Timer -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./css/circular-countdown.css">
    <!-- Emoji Picker -->
    <link href="./css/emoji.css" rel="stylesheet">
    <!-- Our Styles -->
    <link href="./css/style.min.css" rel="stylesheet">
</head>

<body class="hidden-sn mdb-skin elegant-color-dark">

    {{{body}}}

    <script type="text/javascript" src="./js/all.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <!-- Timer -->
    <script type="text/javascript" src="./js/jquery.circular-countdown.js"></script>
    <!-- Emoji Picker -->
    <script type="text/javascript" src="./js/config.js"></script>
    <script type="text/javascript" src="./js/util.js"></script>
    <script type="text/javascript" src="./js/jquery.emojiarea.js"></script>
    <script type="text/javascript" src="./js/emoji-picker.js"></script>
    <!-- UI/UX -->
    <script type="text/javascript" src="./js/uiux.js"></script>
</body>

</html>